@charset "UTF-8";
/*
*===BODY=== 
*/
html,
body {
  width: 100%;
  font-family: "Roboto+Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
html a,
body a {
  text-decoration: none;
}
html main,
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0em 3.8em;
}

/*===HEADER===*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #579c87;
  margin: 0;
  padding: 1em 0;
}
header .header_title {
  font-family: "Montserrat", sans-serif;
  color: #fdcb46;
  font-size: 1.35em;
  line-height: 0.8em;
  letter-spacing: -0.18em;
}

/*
*===HOME=== 
*/
.menu-grid {
  display: inline-grid;
  grid-template-columns: 18em 18em;
  grid-template-rows: 25em 25em;
  grid-gap: 4em 3em;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em 3em 5em;
}
.menu-grid_item {
  text-align: center;
  font-size: 1em;
  box-shadow: 0em 0em 0.625em #ccc;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu-grid {
    display: grid;
    grid-template-columns: 18em;
    grid-row-gap: 4em;
  }
}

/*===CARD-MENU1===*/
.menu-grid_item--card1 {
  color: #000;
  background-color: #fcdfdb;
  padding: 7.3em 1.5em;
}
.menu-grid_item--card1 h2 {
  font-family: "Devonshire";
  font-weight: lighter;
}
.menu-grid_item--card1 h3 {
  font-family: "Itim", cursive;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: lighter;
  margin-top: -0.3em;
}
.menu-grid_item--card1 .card1_note {
  width: 28%;
  margin-bottom: -2em;
}

/*===CARD-MENU2===*/
.menu-grid_item--card2 {
  background-color: #fff5fe;
  padding: 9em 1.5em;
}
.menu-grid_item--card2 h2 {
  font-family: "Kurale";
  background-image: linear-gradient(to right bottom, #c67412, #c67412, #c67412, #c67412, #c67412, #c67412, #af5c99, #a15da3, #9b57ac, #9151b6, #834ec0, #6e4ccc);
  -webkit-background-clip: text;
  color: transparent;
}
.menu-grid_item--card2 h3 {
  font-family: "Vidaloka";
  color: #c67412;
  font-size: xx-large;
  letter-spacing: 0.1em;
  margin-top: -0.3em;
}

/*===CARD-MENU3===*/
.menu-grid_item--card3 {
  background-color: #eef0f0;
  padding: 7.4em 1.5em;
}
.menu-grid_item--card3 h2 {
  font-family: "Dancing Script";
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0431df, #0431df, #0431df, #003ae3, #0887fb, #0887fb, #0887fb, #0887fb, #0887fb, #0887fb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: xx-large;
  font-weight: lighter;
  margin: 1.8em 0em -1em;
}
.menu-grid_item--card3 h3 {
  font-family: "Kalam", cursive;
  color: #0887fb;
  font-size: xx-large;
  font-weight: lighter;
}

/*===CARD-MENU4===*/
.menu-grid_item--card4 {
  background-color: #fdfffd;
  padding: 7.2em 1.5em;
}
.menu-grid_item--card4 h2 {
  font-family: "Kaushan Script";
  background-image: linear-gradient(to right bottom, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #9ce26c, #a5e970, #adf075, #b6f879, #bfff7e, #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
  font-size: xx-large;
  margin: 1.8em 0em -1em;
}
.menu-grid_item--card4 h3 {
  font-family: "Kalam", cursive;
  color: #72bf56;
  font-size: xx-large;
  font-weight: lighter;
}

/*===BUTTON===*/
.btn-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5em;
  background: #579c87;
  border-radius: 0.5em;
  color: #fdcb46;
  font-size: 1.2em !important;
  margin: -2.8em auto 4.1em;
  padding: 0.5em 0em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .btn-soon {
    font-size: medium;
    margin-top: -5.5em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) and (orientation: landscape) {
  .btn-soon {
    font-size: medium;
    margin: -4.8em auto 4.5em;
  }
}
@media only screen and (min-width: 768px) {
  .btn-soon {
    font-size: medium;
    margin-top: -3em;
  }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .btn-soon {
    margin: -4.5em auto 5em;
  }
}

/*===FOOTER===*/
footer {
  display: flex;
  justify-content: center;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.1em 0em;
}
footer a {
  color: #fdcb46;
  font-size: 1.2em !important;
  font-weight: 500;
  padding: 0em 6em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer a {
    font-size: 1em !important;
    padding: 0em 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 899px) and (orientation: landscape) {
  footer a {
    font-size: medium;
    padding: 0em 5em;
  }
}
@media only screen and (min-width: 768px) {
  footer a {
    font-size: medium;
    padding: 0em 5em;
  }
}

/*
*===MENUS=== 
*/
.menu {
  width: 41em;
  margin-bottom: 5em;
  padding-bottom: 5em;
}
.menu_title {
  font-size: 1.8em;
  font-weight: bolder;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
}
.menu h3 {
  font-size: 2.5em;
  font-weight: lighter;
  padding-bottom: 0.8em;
}
.menu h4 {
  font-size: 1.5em;
}
.menu_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0em 3em 1.2em;
}
.menu_content h4 {
  display: inline-flex;
  align-items: stretch;
  line-height: 1.3em;
  justify-content: space-between;
  margin: 1em -1em 0em;
}
.menu_content img {
  width: 10em;
  height: 0.8em;
  padding-top: 0.3em;
}
.menu ul {
  line-height: 2.2em;
  list-style-type: none;
  margin-bottom: 1.8em;
}
.menu li {
  display: flex;
  flex-direction: row;
  width: 30.6em;
  justify-content: space-between;
  text-align: left;
  margin: -1.9em 0em;
}
.menu_price {
  text-align: right;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu {
    width: 24em;
    font-size: 0.8em;
  }
  .menu_content {
    justify-content: center;
    margin-left: 1.5em;
    padding: 0em 0em 0em;
  }
  .menu_content h4 {
    line-height: 0.5em;
    margin: 1em 0em 0em;
  }
  .menu_content img {
    width: 22%;
    height: 0.8em;
    padding-top: 0.3em;
  }
  .menu li {
    flex-direction: column;
    width: 16em;
    justify-content: center;
    text-align: center;
    margin: 0em 0em -1em;
  }
  .menu_price {
    text-align: center;
    margin-top: -1em;
  }
}

/*===MENU1===*/
.menu--menu1 {
  color: #000;
  background-color: #fcdfdb;
}
.menu--menu1_note-up {
  width: 10%;
  margin-top: 2.5em;
  margin-bottom: -3em;
}
.menu--menu1 .menu_content img {
  width: 6.5em;
  height: 0.5em;
}
.menu--menu1 h3 {
  margin-bottom: -0.5em;
}
.menu--menu1 h3, .menu--menu1 h5 {
  font-family: "Devonshire";
}
.menu--menu1 h4, .menu--menu1 ul {
  font-family: "Kalam", cursive;
}
.menu--menu1 h5 {
  font-size: 2em;
  font-weight: lighter;
}
.menu--menu1_note-down {
  width: 7%;
}
.menu--menu1 h4 {
  margin: 1em 1.3em 0em;
}
.menu--menu1 ul {
  margin-left: -0.5em;
}
.menu--menu1 .menu_price {
  margin-left: -2.2em;
  font-weight: bold;
}
.menu--menu1_signature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.2em;
  margin-bottom: -3em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu--menu1 .menu_content img {
    width: 22%;
    height: 0.4em;
    padding: 0em 0.5em;
  }
  .menu--menu1 h4 {
    margin: 1em 0em 0em -1em;
  }
  .menu--menu1 ul {
    margin-left: 0em;
  }
  .menu--menu1 .menu_price {
    margin-left: 0em;
  }
}

/*===MENU2===*/
.menu--menu2 {
  background-color: #fff5fe;
}
.menu--menu2 h3 {
  font-family: "Kurale";
  background-image: linear-gradient(to right bottom, #c67412, #c67412, #c67412, #c67412, #c67412, #c67412, #af5c99, #a15da3, #9b57ac, #9151b6, #834ec0, #6e4ccc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 500;
  margin-bottom: 1em;
  padding-top: 1em;
}
.menu--menu2 h4 {
  font-family: "Vidaloka";
  color: #c67412;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.menu--menu2--color2 h4 {
  color: #a56799;
}
.menu--menu2--color3 h4 {
  color: #6e4ccc;
}
.menu--menu2--color2 li {
  color: #a56799;
}
.menu--menu2--color3 li {
  color: #6e4ccc;
}
.menu--menu2 ul {
  font-family: "Vidaloka";
  color: #c67412;
  margin-top: 2em;
}
.menu--menu2 .menu_price {
  font-size: 1.2em;
  margin-top: 0.8em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu--menu2 h3 {
    font-size: 2em;
  }
  .menu--menu2 h4 {
    line-height: 1em;
    margin-left: -1em;
  }
  .menu--menu2 .menu_content img {
    width: 20%;
  }
  .menu--menu2 ul {
    margin-top: 2em;
  }
}

/*===MENU3===*/
.menu--menu3 {
  color: #000;
  background-color: #eef0f0;
}
.menu--menu3 h3 {
  font-family: "Dancing Script";
  background-image: linear-gradient(to right bottom, #0431df, #0431df, #0431df, #0431df, #0431df, #003ae3, #0887fb, #0887fb, #0887fb, #0887fb, #0887fb, #0887fb);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
.menu--menu3 h4 {
  font-family: "Kalam", cursive;
  font-size: 1.2em;
  font-weight: lighter;
  margin-bottom: 1em;
}
.menu--menu3 ul {
  font-family: "Kalam", cursive;
  margin-bottom: 0em;
}
.menu--menu3 .menu_price {
  font-size: 1.1em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu--menu3 h3 {
    font-size: 2.5em;
  }
  .menu--menu3 h4 {
    line-height: 1em;
    margin-left: -1em;
    margin-top: 2em;
  }
  .menu--menu3 .menu_content img {
    width: 22%;
    padding: 0em 0.5em;
  }
}

/*===MENU4===*/
.menu--menu4 {
  color: #000;
  background-color: #fdfffd;
}
.menu--menu4 .menu_content img {
  width: 12em;
  height: 0.8em;
}
.menu--menu4 h3 {
  font-family: "Kaushan Script";
  background-image: linear-gradient(to right bottom, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #4c9f42, #55a747, #bfff7e, #bfff7e, #bfff7e, #bfff7e, #bfff7e, #bfff7e);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5em;
  margin-bottom: 0.2em;
  padding-top: 0.5em;
}
.menu--menu4 h4 {
  font-family: "Kalam", cursive;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.8em;
}
.menu--menu4 ul {
  font-family: "Kalam", cursive;
  margin-bottom: 0.5em;
}
.menu--menu4 li {
  width: 32em;
  margin-left: -1em;
}
.menu--menu4 .menu_price {
  font-size: 1.2em;
  margin-top: 0.8em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .menu--menu4 h3 {
    font-size: 2.5em;
  }
  .menu--menu4 h4 {
    line-height: 1em;
    margin-left: -1.5em;
    font-size: 1.2em;
    margin-top: 2em;
  }
  .menu--menu4 .menu_content img {
    width: 28%;
    padding: 0em 1em;
  }
  .menu--menu4 li {
    width: 16em;
    margin-left: -0.5em;
  }
  .menu--menu4 .menu_price {
    margin-top: -0.8em;
  }
}

/*
*===LEGAL NOTICES=== 
*/
.legal-notices {
  width: 41em;
  background-color: #f9f9f9;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 5em;
  padding: 2em;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .legal-notices {
    width: 20em;
  }
}

/*ANIMATION-HOME*/
/*Pour chaque item de type menu, une animation qui fait un zoom sur l'image devra
*être intégrée, avec un effet de fondu -réduire l'opacité- sans faire grossir le cadre
*initial
*/
.card--zoom {
  transition: transform 300ms, opacity 250ms 50ms;
}
.card--zoom:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/*ANIMATION-BUTTON*/
/*dans la section prochainement, des points de suspension devront s’animer
*progressivement. Ils pourront soit s’agiter comme quand quelqu’un tape un
*nouveau message, soit apparaître progressivement
*/
.btn-soon--dots::after {
  content: " .";
  animation: dots 2s infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}
/*ANIMATION-MENU*/
/*les titres représentant les catégories entrées, plats, desserts devront être soulignés
*de gauche à droit au survol de la souris
*/
.menu_h4--underline::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  transition: width 0.5s ease;
}

.menu_h4--underline:hover::after {
  width: 100%;
  background: #fdcb46;
}

/*ANIMATION-FOOTER*/
/*les boutons “contact” et “mentions légales” devront se secouer (effet wiggle)
*/
.footer_a--wiggle:hover {
  animation: wiggle 0.82s cubic-bezier(0.65, 0.23, 0.41, 0.79);
  transform: translate(0, 0);
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
