
/*===BUTTON===*/

.btn-soon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11.5em;
	background: #579c87;
	border-radius: 0.50em;
	color: #fdcb46;
	font-size: x-large;
	margin: -2.8em auto 4.1em;
	padding: 0.5em 0em;

	@include smartphones {
		font-size: medium;
		margin-top: -5.5em;
	}

	@include tablets {
		font-size: medium;
		margin: -4.8em auto 4.5em;
	}

	@include laptops {
		font-size: medium;
		margin-top: -3em;
	}
	
	@include desktops {
		margin: -4.5em auto 5em;
	}
}