//==fonts==//

//body//

$font-body: 'Roboto+Condensed', sans-serif;

$font-title-h1: 'Montserrat', sans-serif;

//menu1//

$font-menu1_title: 'Devonshire';

$font-menu1_subtitle: 'Itim', cursive;

$font-menu1_text: 'Kalam', cursive;

//menu2//

$font-menu2_title: 'Kurale';

$font-menu2_subtitle: 'Vidaloka';

$font-menu2_text: 'Vidaloka';

//menu3//

$font-menu3_title: 'Dancing Script';

$font-menu3_subtitle: 'Kalam', cursive;

$font-menu3_text: 'Kalam', cursive;

//menu4//

$font-menu4_title: 'Kaushan Script';

$font-menu4_subtitle: 'Kalam', cursive;

$font-menu4_text: 'Kalam', cursive;